@use "styles" as *;

.selectedPairsValue{
  margin: 10px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  h3{
    width: 100%;
    text-align: center;
  }
  }