@use 'styles' as *;

.populationContainer {
  margin: auto;
  width: 300px;
  .graph {
    transform: translate(50px, 20px);
    .xAxes {
      font-size: 10px;
      text-anchor: middle;
    }
    .yAxes {
      font-size: 10px;
      text-anchor: end;
    }
  }
}
